<a href="@Url.Action("Index","Home")">
<div style="padding:0px"><img src="@Url.Content("~/Content/img/logo_new.jpg")" style="width:275px;height:55px;" />&nbsp;<img src="@Url.Content("~/Content/img/logo-ayooklik.png")" style="width:143px;height:52px;" /></div>
    </a>