@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle">
    <div><div class="price-box">
	<span style="font-size: 16px"><span style="font-family: arial, helvetica, sans-serif"><strong><span style="color: rgb(255,0,0)"><span class="regular-price"><span class="price"><span _fck_bookmark="1" style="display: none">&nbsp;</span>JAYA MESIN</span></span></span></strong></span></span></div>
<div class="price-box">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif">&nbsp;</span></span></div>
<div class="main-desc">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif"><b>JAYA MESIN </b>- established since 1997. has grown from supplying recondition copier machine, more than 10 years we provide Copier and Document Solution. On November 2007 we were trusted by <strong>PT. ASABA</strong> to distribute new copier under <strong>DEVELOP</strong> brand. It only took 1 year to make us become best sales in Indonesia (year 2008). Since then we trusted by many other brands such as <strong>BROTHER- Master Dealer(biggest market share in Indonesia year 2012), FUJI XEROX-Master Dealer &amp; Service Partner, EPSON-Dealer, CANON-Reseller, GRAPHTECH-Dealer, ETC</strong><br>
	</span></span></div>
<div class="main-desc">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif">As technologies, business and customer’s needs developed, We had developed efficient and successful sales and distribution offices around Riau. <br>
	<br>
	<b>OUR VISION</b><br>
	"To be recognized as a leading marketing and distribution company with full commitment in Innovation, Business Development in Riau"<br>
	<br>
	<b>OUR MISSION</b><br>
	"Continuously and consistently expanding the business and establishing the company image with the focus on customer satisfaction."</span></span></div>
<div class="main-desc">
	&nbsp;</div>
<div class="main-desc">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif"><strong>OUR MOTTO</strong></span></span></div>
<div class="main-desc">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif">"YOUR DOCUMENT SOLUTION!!!"</span></span></div>
<div class="main-desc">
	&nbsp;</div>
<div class="main-desc">
	<span style="font-size: 11px"><span style="font-family: arial, helvetica, sans-serif"><br>
	</span></span></div>
<script id="finspector_js_injector" language="JavaScript" type="text/javascript">function fInspectorReloadSwf(swfId) { var swfEle = document.getElementById(swfId); var visibility = swfEle.style.visibility; swfEle.style.visibility = "none"; var pos = swfEle.style.position; swfEle.style.position = (pos == "fixed" ? "relative" : "fixed"); setTimeout(function () { swfEle.style.position = pos; swfEle.style.visibility = visibility; setTimeout(function () { try { swfEle.setSwfId(swfId); } catch (error) { } }, 300); }, 0); }</script><script id="finspector_js_injector" language="JavaScript" type="text/javascript">    function fInspectorReloadSwf(swfId) { var swfEle = document.getElementById(swfId); var visibility = swfEle.style.visibility; swfEle.style.visibility = "none"; var pos = swfEle.style.position; swfEle.style.position = (pos == "fixed" ? "relative" : "fixed"); setTimeout(function () { swfEle.style.position = pos; swfEle.style.visibility = visibility; setTimeout(function () { try { swfEle.setSwfId(swfId); } catch (error) { } }, 300); }, 0); }</script><script id="finspector_js_injector" language="JavaScript" type="text/javascript">    function fInspectorReloadSwf(swfId) { var swfEle = document.getElementById(swfId); var visibility = swfEle.style.visibility; swfEle.style.visibility = "none"; var pos = swfEle.style.position; swfEle.style.position = (pos == "fixed" ? "relative" : "fixed"); setTimeout(function () { swfEle.style.position = pos; swfEle.style.visibility = visibility; setTimeout(function () { try { swfEle.setSwfId(swfId); } catch (error) { } }, 300); }, 0); }</script><script id="finspector_js_injector" language="JavaScript" type="text/javascript">    function fInspectorReloadSwf(swfId) { var swfEle = document.getElementById(swfId); var visibility = swfEle.style.visibility; swfEle.style.visibility = "none"; var pos = swfEle.style.position; swfEle.style.position = (pos == "fixed" ? "relative" : "fixed"); setTimeout(function () { swfEle.style.position = pos; swfEle.style.visibility = visibility; setTimeout(function () { try { swfEle.setSwfId(swfId); } catch (error) { } }, 300); }, 0); }</script></div>
  </div>