USE [DB_WOT_JAYA_MESIN]
GO
/****** Object:  Table [dbo].[T_WO_STATUS]    Script Date: 10/19/2013 02:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WO_STATUS](
	[WO_STATUS_ID] [nvarchar](50) NOT NULL,
	[WO_ID] [nvarchar](50) NULL,
	[WO_STATUS_USER] [nvarchar](50) NULL,
	[WO_STATUS] [nvarchar](50) NULL,
	[WO_STATUS_DATE] [datetime] NULL,
	[WO_STATUS_BROKEN_DESC] [nvarchar](max) NULL,
	[WO_STATUS_START_DATE] [datetime] NULL,
	[WO_STATUS_FINISH_DATE] [datetime] NULL,
	[WO_STATUS_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_WO_STATUS] PRIMARY KEY CLUSTERED 
(
	[WO_STATUS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_WO_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_T_WO_STATUS_T_WO] FOREIGN KEY([WO_ID])
REFERENCES [dbo].[T_WO] ([WO_ID])
GO
ALTER TABLE [dbo].[T_WO_STATUS] CHECK CONSTRAINT [FK_T_WO_STATUS_T_WO]
GO
