<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" requireReinstallation="True" />
  <package id="Castle.Windsor" version="2.5.3" requireReinstallation="True" />
  <package id="CommonServiceLocator" version="1.0" requireReinstallation="True" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" requireReinstallation="True" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="Iesi.Collections" version="3.1.0.4000" requireReinstallation="True" />
  <package id="jQuery" version="1.6.1" />
  <package id="log4net" version="1.2.10" requireReinstallation="True" />
  <package id="Microsoft.AspNet.Providers" version="1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="NHibernate" version="3.1.0.4000" requireReinstallation="True" />
  <package id="NHibernate.Castle" version="3.1.0.4000" requireReinstallation="True" />
  <package id="System.Web.Providers" version="1.2" targetFramework="net40" />
</packages>