<a href="@Url.Action("Index","Home")">
  <div style="padding:3px;float:left;"><img src="@Url.Content("~/Content/img/header_text.png")" style="width:100%;height:55px;" /></div>
<div style="padding:0px;float:right;"><img src="@Url.Content("~/Content/img/logo_new.jpg")" style="width:275px;height:55px;" />&nbsp;<img src="@Url.Content("~/Content/img/logo-ayooklik.png")" style="width:143px;height:52px;" /></div>
    </a>