<a href="@Url.Action("Index","Home")">
  <div style="padding:3px;float:left;">
      <img src="@Url.Content("~/Content/img/header_text.png")" style="width:100%;height:55px;" />
      @*<h1 style="color:blue;font-size:20pt;">PRODUCT AND INVOICE MONITORING</h1>*@

  </div>
<div style="padding:3px;float:right;">
    <img src="@Url.Content("~/Content/img/logo-ayooklik_new.png")" style="width:155px;height:52px;vertical-align:middle;" />&nbsp;
    <img src="@Url.Content("~/Content/img/logo-jayamesin_new.png")" style="width:170px;height:35px;vertical-align:middle;" /></div>
    </a>