@{
    ViewBag.Title = "Dashboard Monitoring Faktur Penjualan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="demo-section k-content">
    @(Html.Kendo().Chart<YTech.Inventory.JayaMesin.Web.Mvc.Controllers.ViewModels.DashboardInvoiceViewModel>()
        .Name("chart")
                .Title(title => title
                    .Text("Jumlah Faktur Penjualan")
                    .Position(ChartTitlePosition.Top))
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        .HtmlAttributes(new { style = "background: center no-repeat " })
        .DataSource(ds =>
            {
                ds.Read(read => read.Action("GetDashboardInvoiceByStatus", "JmIntrackTInvoice"));
            }
            )
             .Series(series =>
                 {
                     series
                    .Pie(model => model.InvoiceTotal, model => model.InvoiceStatus, model => model.Color)
                    .Padding(30)
                    .Labels(labels => labels
                .Template("#= category #: \n #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
                 }
            )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )

    @(Html.Kendo().Chart<YTech.Inventory.JayaMesin.Web.Mvc.Controllers.ViewModels.DashboardInvoiceViewModel>()
        .Name("chart2")
                .Title(title => title
                    .Text("Kelengkapan SSP Dari yang Sudah Lunas")
                    .Position(ChartTitlePosition.Top))
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chart => chart
            .Background("transparent")
         )
        .HtmlAttributes(new { style = "background: center no-repeat " })
        .DataSource(ds =>
            {
                ds.Read(read => read.Action("GetDashboardInvoiceLunas", "JmIntrackTInvoice"));
            }
            )
            .Series(series =>
                 {
                     series
                    .Pie(model => model.InvoiceTotal, model => model.InvoiceStatus, model => model.Color)
                    .Padding(30)
                    .Labels(labels => labels
                .Template("#= category #: \n #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
                 }
            )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )
</div>
