@{
    ViewBag.Title = "Dashboard Monitoring Faktur Penjualan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="demo-section k-content">
    <table style="width:80%">
        <tr>
            <td colspan="2">
                Lokasi : @(
 Html.Kendo().DropDownList() 
        .OptionLabel("All")
        .DataValueField("Value")
        .DataTextField("Text")    
        .BindTo((System.Collections.IEnumerable)ViewData["invoice_location"])
         .HtmlAttributes(new { @style="width:150px;" })
         .AutoBind(true)
         .Name("ddlLocationId")    
          .Events(e => e.Change("ddlLocationIdchange"))
         )
            </td>
        </tr>
        <tr>
            <td >
                @Html.Partial("ChartInvoiceByStatus")
            </td>
            <td>
                 @Html.Partial("ChartInvoiceLunas")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                 @Html.Partial("ChartInvoiceBySalesman")
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

    function GetReadParam() {
        var locationId = $('#ddlLocationId').data("kendoDropDownList").value($("#value").val());
        //alert(locationId);
        return {
            LocationId: locationId
        };
    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    function ddlLocationIdchange() {
        var value = $("#ddlLocationId").val();
        //alert(value);
        $('#Grid').data().kendoGrid.dataSource.read();
        $('#chart').data("kendoChart").dataSource.read();
        $('#chart').data("kendoChart").refresh();
        $('#chart2').data("kendoChart").dataSource.read();
        $('#chart2').data("kendoChart").refresh();
        $('#chart3').data("kendoChart").dataSource.read();
        $('#chart3').data("kendoChart").refresh();
        $('#chart4').data("kendoChart").dataSource.read();
        $('#chart4').data("kendoChart").refresh();
    };
</script>